
* {
    box-sizing: border-box;
  }


 /*.header1 {
    border: 20px solid rgb(231, 35, 0);
    width: 25%;
    float: left;
    font-style: arial;
}

.header2 {
    border: 20px solid rgb(227, 100, 10);
    width: 75%;
    float: right;
}


