    @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;600&display=swap');
      
      * {
          box-sizing: border-box;
        }
        
        .row::after {
          content: "";
          clear: both;
          display: table;
        }
        

        [class*="col-"] {
          float: left;
          padding: 0;
        }
        
        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}

        html {
            font-family: 'Merriweather Sans', sans-serif;
        }

       .header1 {
           background-color: #eeb600;
           color: #535353;
           font-weight: 700;
           padding: 32px ;
           border-: 0px; 
           margin: 0px;
           box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }

        .header2 {
            background-color: #b8b8b8;
            padding-left: 10px;
            text-shadow: 5px 5px 10px #ffffff ;
            margin-bottom: auto;

        }

        .parrafo1 {
            
            padding: 5%;
            margin-bottom: auto;
            margin-top: 0%;
          
            
        }


        .menu ul {
           list-style-type: none;
           margin: 0;
           margin-bottom: auto;
           padding-top: 25%;
           padding-left: 0%;
           background-color: #ffffff;
        }

        .menu p {
           margin-top: 0%;
        }

        .menu li {
           padding: 8px;
           margin-bottom: 5%;
           margin-top: 0%;
           background-color: #ed4300;
           color: #ffffff;
           text-shadow: 5px 5px 10px black;
           box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }

       .menu li:hover {
          background-color: #ed4300;
       }

     
       .rec {
        background-color: #ffffff;
        float: right;
        margin-bottom: auto;
        margin-top: 0px;
        padding-bottom: 50%;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 2%;
        
       }

       .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30%;
       }
     
      